<h2>Add Artwork</h2>
<form action="" method="post" enctype="multipart/form-data">
  <input type="file" name="image" style="width: 350px;"> <br>
  <input type="text" name="artistName" placeholder="Artist Name" style="width: 350px;"/> <br>
  <input type="text" name="title" placeholder="Artwork Title" style="width: 350px;"/> <br>
  <input type="text" name="description" placeholder="description" style="width: 350px;"/> <br>
  <input type="text" name="tags" placeholder="Tags, | separated" style="width: 350px;"/> <br>
  <input type="text" name="type" placeholder="Type" style="width: 350px;"/> <br> 
  <input type="text" name="dimensions" placeholder="Dimensions" style="width: 350px;"/> <br>
  <input type="text" name="medium" placeholder="Medium" style="width: 350px;"/> <br>
  <input type="text" name="year" placeholder="Year Created" style="width: 350px;"/> <br>
  <input type="text" name="location" placeholder="Location Name" style="width: 350px;"/> <br>
  <input type="text" name="forSale" placeholder="1 if for sale, 0 if not" style="width: 350px;"/> <br>    
  <input type="submit" name="update" value="submit"/> <br>
</form>
<br>
<h2>Add Artist</h2>
<form action="" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Artist Name" style="width: 350px;"/> <br>
  <input type="text" name="hometown" placeholder="Hometown" style="width: 350px;"/> <br>
  <input type="text" name="nationality" placeholder="Nationality" style="width: 350px;"/> <br>
  <input type="text" name="dateOfBirth" placeholder="Date of Birth (YYYY-MM-DD)" style="width: 350px;"/> <br>
  <input type="text" name="dateOfDeath" placeholder="Date of Death, leave blank if artist is alive (YYYY-MM-DD)" style="width: 350px;"/> <br> 
  <input type="text" name="bio" placeholder="Bio" style="width: 350px;"/> <br> 
  <input type="submit" name="update" value="submit"/> <br>
</form>
<br>
<h2>Add Location</h2>
<form action="" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Location Name" style="width: 350px;"/> <br>
  <input type="text" name="address1" placeholder="Address 1" style="width: 350px;"/> <br>
  <input type="text" name="address2" placeholder="Address 2" style="width: 350px;"/> <br>
  <input type="text" name="city" placeholder="City" style="width: 350px;"/> <br>
  <input type="text" name="state" placeholder="State" style="width: 350px;"/> <br>
  <input type="text" name="zipcode" placeholder="Zipcode" style="width: 350px;"/> <br>
  <input type="text" name="type" placeholder="museum/gallery/park/store/etc." style="width: 350px;"/> <br> 
  <input type="text" name="description" placeholder="Description" style="width: 350px;"/> <br>
  <input type="submit" name="update" value="submit" /> <br> 
</form>