{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/js/art.js"></script> 
<script type="text/javascript">
    window.onload = function() {
        gapi.load('auth2,signin2', function() {
            var auth2 = gapi.auth2.init();
            auth2.then(function() {
            // Current values
                var isSignedIn = auth2.isSignedIn.get();
                console.log(isSignedIn);
                var currentUser = auth2.currentUser.get();

                if (!isSignedIn) {
                    // Rendering g-signin2 button.
                    gapi.signin2.render("signin", {
                      'onsuccess': 'onSignIn'  
                    });
                }
                else {
                    url = window.location.href;
                    artID = url.substr(url.lastIndexOf('/') +1);
                    document.getElementById("edit-link").innerHTML = "<a href='/art_edit/" + artID + "'>Edit Artwork</a>";
                    document.getElementById("user_dropdown").style.visibility = "visible"
                }
            });
        }); 
    }
    $(function() {
        url = window.location.href;
        artID = url.substr(url.lastIndexOf('/') + 1);
        console.log(artID);
        renderArt(artID);
    });
</script>
<div class="container-fluid text-center">    
  <div class="row content">

    <div class="col-sm-8 text-left"> 
        <div id="art-title-info-header">
          <h1 id="art-title-header"></h1>
            <h4 id="art-artist-header"></h4>
        </div>
        <hr>
        <div id="edit-link"></div>
        <center>
        <img id="art-main-image" width="90%" max-height="500px">
        </center>
        <div id="other-images"></div>
        <div>
            <h3 style="text-align:center">
                <br>
                Can I buy it?
            </h3>
            <p id="biddable" style="text-align:center">
                Sorry, but this artwork is not currently for sale.
            </p>
        </div>
      </div>

    <div class="col-sm-4 sidenav">
      <div class="well">
        <div id="art-title-info-sidenav">
            <strong>Title</strong>
            <p id="art-title-sidenav"></p>
        </div>
        <div id="artist-name-info-sidenav">
        <strong>Artist</strong>
            <p><a id="artist-info-sidenav"></a></p>
              <p>
        </div>
        <div id="location-info-sidenav">
            <p>
            <strong>Location </strong> <br>
            <a id="location-sidenav"></a> 
            <text id="location-city-sidenav"></text>
            </p>
        </div>
        <div id="creation-date-info-sidenav">
            <strong>Creation Date </strong>
            <p id="creation-date-sidenav"></p>
        </div>
        <div id="medium-info-sidenav">
            <strong> Medium </strong>
            <p id="medium-sidenav"></p>
        </div>
        <div id="dimensions-info-sidenav">
            <strong> Dimensions </strong>
            <p>
                <text id="dimensions-height-in-sidenav">13.875 </text>in x <text id="dimensions-width-in-sidenav">21.125 in </text> 
                <br>
                <text id="dimensions-height-cm-sidenav">35.24</text> cm x <text id="dimensions-width-cm-sidenav">53.66 cm</text>
            </p>
        </div>
        <div id="art-description-info-sidenav">
            <strong> Description </strong>
            <p id="art-description-sidenav"></p>
        </div>
        <div>
            <strong> Tags </strong>  
          <p id="art-tags">
            </p>
        </div>
        <button>
            <div class="favorite" onmouseover="changeFavoriteToGold(false)" onmouseout="changeFavoriteToNormal()" onclick = "changeFavoriteToGold(true)">
            <span id="star">☆</span>
            <text class="text"> favorite</text>
            </div>
        </button>
        <br>
        <br>
        <a href="/bids/{{art_id}}">View All Bids</a>
      </div>
      </div>
  </div>
</div>
{% endblock %}